<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bin.cloud.business.material.base.dao.BuildingPropertyMapper">
    <resultMap id="BaseResultMap" type="com.bin.cloud.business.material.base.entity.po.BuildingProperty">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="PROPERTY_NAME" jdbcType="VARCHAR" property="propertyName"/>
        <result column="PROPERTY_COST" jdbcType="DECIMAL" property="propertyCost"/>
        <result column="PARKING_SPACE" jdbcType="INTEGER" property="parkingSpace"/>
    </resultMap>

</mapper>