<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bin.cloud.business.material.base.dao.BuildingUnitTypeMapper">
    <resultMap id="BaseResultMap" type="com.bin.cloud.business.material.base.entity.po.BuildingUnitType">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="TYPE" jdbcType="BIGINT" property="type"/>
        <result column="AREA" jdbcType="VARCHAR" property="area"/>
        <result column="IMG_ID" jdbcType="VARCHAR" property="imgId"/>
    </resultMap>

</mapper>