<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bin.cloud.business.material.base.dao.BuildingProveMapper">
    <resultMap id="BaseResultMap" type="com.bin.cloud.business.material.base.entity.po.BuildingProve">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="IMG_ID" jdbcType="BIGINT" property="imgId"/>
        <result column="SEND_TIME" jdbcType="TIMESTAMP" property="sendTime"/>
    </resultMap>

</mapper>